# Copiar este archivo a terraform.tfvars y completar el bucket_name.
# El nombre del bucket S3 debe ser GLOBALMENTE ÚNICO en todo AWS.
# Sugerencia: agregar las iniciales del equipo o un número aleatorio.
# Ejemplo: retailstore-tfstate-g04  |  retailstore-tfstate-2026

bucket_name         = "retailstore-tfstate-REEMPLAZAR"
dynamodb_table_name = "retailstore-tfstate-lock"
aws_region          = "us-east-1"